

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1 {
  font-size: 5.625rem;
  font-family: 'Parisienne', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
hr {
  width: 20%;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width:10px;
}
p {
  line-height: 2;
}

a{
  text-decoration:none;
}
a:hover {
  color: #EAF6F6;
}
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}
.bio-description {
  color: #40514E;
}
.contact-me {
  margin-bottom: 50px;
}
.contact-me-description{
  margin: 40px auto 60px;
}
.profile {
width:50%;
margin:50px auto 50px auto;
}
.bottom-container {
background-color: #66BFBF;
padding-top: 25px;
padding-bottom: 25px;
}
.bottom-cloud {
  position: absolute;
  left:200px;
  bottom: 300px;
}
.top-cloud {
  position: absolute;
  right:200px;
  top:50px;
}
.footer-link {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  padding: 30px;
}
.pro {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.Roasting {
  width: 25%;
  float: left;
  margin-right:30px;
}
.Codegirl {
  width: 25%;
  float:right;
  margin-left:30px;
}
.Footer-copyright {
  color: #EAF6F6;
  margin-top:50px;
  font-size: 0.75rem;
}
.BUTTON_IYG {
 background: #11CDD4;
 background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
 background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
 background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
 background-image: -o-linear-gradient(top, #11CDD4, #11999E);
 background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
 -webkit-border-radius: 8px;
 -moz-border-radius: 8px;
 border-radius: 8px;
 color: #FFFFFF;
 font-family: 'Montserrat', sans-serif;
 font-size: 20px;
 font-weight: 100;
 padding: 10px;
 text-shadow: 1px 1px 20px #000000;
 border: solid #11999E 1px;
 text-decoration: none;
 display: inline-block;
 cursor: pointer;
 text-align: center;
}

.BUTTON_IYG:hover {
 border: solid #FFFFFF 1px;
 background: #30E3CB;
 background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AC);
 background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AC);
 background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AC);
 background-image: -o-linear-gradient(top, #30E3CB, #2BC4AC);
 background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AC);
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 8px;
 text-decoration: none;
}
